# Created by .ignore support plugin (hsz.mobi)
.all_terms
.gitignore
.idea/
.out_term_list
The_Termolator.iml
temporary_TERMOLATOR_POS.properties
__pycache__/
gutenberg-test/.fact
gutenberg-test/.pos
gutenberg-test/.txt2
gutenberg-test/.txt3
